In [12]:
from meteostream import HycomClient
import pandas as pd

In [13]:
client = HycomClient()

In [14]:
df = client.get_forecast_df()

In [15]:
df

                    complete
vars timestamp
sst  25-01-11 12Z      False
     25-01-10 12Z       True
     25-01-09 12Z       True
     25-01-08 12Z       True
     25-01-07 12Z       True
     25-01-06 12Z       True
     25-01-05 12Z       True
     25-01-04 12Z       True
     25-01-03 12Z       True
     25-01-02 12Z       True
ssu  25-01-11 12Z      False
     25-01-10 12Z       True
     25-01-09 12Z       True
     25-01-08 12Z       True
     25-01-07 12Z       True
     25-01-06 12Z       True
     25-01-05 12Z       True
     25-01-04 12Z       True
     25-01-03 12Z       True
     25-01-02 12Z       True
ssv  25-01-11 12Z      False
     25-01-10 12Z       True
     25-01-09 12Z       True
     25-01-08 12Z       True
     25-01-07 12Z       True
     25-01-06 12Z       True
     25-01-05 12Z       True
     25-01-04 12Z       True
     25-01-03 12Z       True
     25-01-02 12Z       True

In [22]:

# Get latest timestamp per var
latest_timestamps = df.groupby(level="vars").head(1)

# Check if all latest timestamps are identical
all_same_timestamp = latest_timestamps.index.get_level_values("timestamp").nunique() == 1

# Check if all latest timestamps have complete = True
all_complete = latest_timestamps["complete"].all()

# Final condition
if all_same_timestamp and all_complete:
    print("All latest timestamps are identical and have complete=True.")
else:
    print("Condition not met: Either timestamps differ or some are incomplete.")

Condition not met: Either timestamps differ or some are incomplete.