In [1]:
from meteostream import HycomClient

In [2]:
client = HycomClient()

In [3]:
client.check_server_alignment()

False

In [4]:
df = client.get_forecast_df()

In [5]:
df

                        complete
variable forecast_run
sst      25-01-11 12Z      False
         25-01-10 12Z       True
         25-01-09 12Z       True
         25-01-08 12Z       True
         25-01-07 12Z       True
         25-01-06 12Z       True
         25-01-05 12Z       True
         25-01-04 12Z       True
         25-01-03 12Z       True
         25-01-02 12Z       True
ssu      25-01-11 12Z      False
         25-01-10 12Z       True
         25-01-09 12Z       True
         25-01-08 12Z       True
         25-01-07 12Z       True
         25-01-06 12Z       True
         25-01-05 12Z       True
         25-01-04 12Z       True
         25-01-03 12Z       True
         25-01-02 12Z       True
ssv      25-01-11 12Z      False
         25-01-10 12Z       True
         25-01-09 12Z       True
         25-01-08 12Z       True
         25-01-07 12Z       True
         25-01-06 12Z       True
         25-01-05 12Z       True
         25-01-04 12Z       True
         25-01-03 12Z       True
         25-01-02 12Z       True