In [12]:
from meteostream import HycomClient
import pandas as pd

In [13]:
client = HycomClient()

In [3]:
df = client.get_forecast_df()

In [9]:
df

                                complete
vars timestamp
sst  2011-01-25 12:00:00+00:00     False
     2010-01-25 12:00:00+00:00      True
     2009-01-25 12:00:00+00:00      True
     2008-01-25 12:00:00+00:00      True
     2007-01-25 12:00:00+00:00      True
     2006-01-25 12:00:00+00:00      True
     2005-01-25 12:00:00+00:00      True
     2004-01-25 12:00:00+00:00      True
     2003-01-25 12:00:00+00:00      True
     2002-01-25 12:00:00+00:00      True
ssu  2011-01-25 12:00:00+00:00     False
     2010-01-25 12:00:00+00:00      True
     2009-01-25 12:00:00+00:00      True
     2008-01-25 12:00:00+00:00      True
     2007-01-25 12:00:00+00:00      True
     2006-01-25 12:00:00+00:00      True
     2005-01-25 12:00:00+00:00      True
     2004-01-25 12:00:00+00:00      True
     2003-01-25 12:00:00+00:00      True
     2002-01-25 12:00:00+00:00      True
ssv  2011-01-25 12:00:00+00:00     False
     2010-01-25 12:00:00+00:00      True
     2009-01-25 12:00:00+00:00      True
     2008-01-25 12:00:00+00:00      True
     2007-01-25 12:00:00+00:00      True
     2006-01-25 12:00:00+00:00      True
     2005-01-25 12:00:00+00:00      True
     2004-01-25 12:00:00+00:00      True
     2003-01-25 12:00:00+00:00      True
     2002-01-25 12:00:00+00:00      True

In [11]:

# Get latest timestamp per var
latest_timestamps = df.groupby(level="vars").tail(1)

# Check if all latest timestamps are identical
all_same_timestamp = latest_timestamps.index.get_level_values("timestamp").nunique() == 1

# Check if all latest timestamps have complete = True
all_complete = latest_timestamps["complete"].all()

# Final condition
if all_same_timestamp and all_complete:
    print("✅ All latest timestamps are identical and have complete=True.")
else:
    print("❌ Condition not met: Either timestamps differ or some are incomplete.")

✅ All latest timestamps are identical and have complete=True.