In [1]:
from meteostream import HycomClient

In [2]:
client = HycomClient()

In [3]:
df = client.get_forecast_df()

In [4]:
df

Empty DataFrame
Columns: [time, complete, vars]
Index: []

In [22]:
from siphon.catalog import TDSCatalog
import pandas as pd
import siphon 
import xarray as xr

In [6]:
SST_URL: str = "https://tds.hycom.org/thredds/catalog/FMRC_ESPC-D-V02_t3z/runs/catalog.xml"
SSU_URL: str = "https://tds.hycom.org/thredds/catalog/FMRC_ESPC-D-V02_u3z/runs/catalog.xml"
SSV_URL: str = "https://tds.hycom.org/thredds/catalog/FMRC_ESPC-D-V02_v3z/runs/catalog.xml"

url_dict = {
            'sst': SST_URL,
            'ssu': SSU_URL,
            'ssv': SSV_URL
        }

In [37]:
timestamps = []
completeness = []
vars = []

In [23]:
def _check_dataset_completeness(dataset:siphon.catalog.Dataset) -> bool:
    """
    Check if the `siphon.catalog.Dataset` (aggregated) is complete.

    Parameters
    ----------
    dataset : siphon.catalog.Dataset
        The dataset to check for completeness.

    Returns
    -------
    bool
        True if the dataset is complete, False otherwise.
    """

    with xr.open_dataset(dataset.access_urls['OPENDAP'], decode_times=False) as ds:
        if len(ds['time_offset']) != 65:
            return False
        return True

In [38]:
for var, url in url_dict.items():
        cat = TDSCatalog(url)
        ds_list = cat.datasets

        for time, ds in ds_list.items():
            vars.append(var)

            time_str = time[-20:]
            pd_datetime = pd.to_datetime(time_str)
            timestamp = pd.Timestamp(pd_datetime).strftime('%y-%m-%d %HZ')
            timestamps.append(timestamp)
            
            complete =_check_dataset_completeness(ds)
            completeness.append(complete)

In [47]:
print(len(vars)) 
print(len(timestamps))
print(len(completeness))

30
30
30

In [55]:
df = pd.DataFrame({"vars":vars, "timestamp":timestamps, "complete": completeness})

In [57]:
df.set_index(['vars', 'timestamp'], inplace=True)

In [58]:
df

                   complete
vars timestamp
sst  25-01-11 12Z     False
     25-01-10 12Z      True
     25-01-09 12Z      True
     25-01-08 12Z      True
     25-01-07 12Z      True
     25-01-06 12Z      True
     25-01-05 12Z      True
     25-01-04 12Z      True
     25-01-03 12Z      True
     25-01-02 12Z      True
ssu  25-01-11 12Z     False
     25-01-10 12Z      True
     25-01-09 12Z      True
     25-01-08 12Z      True
     25-01-07 12Z      True
     25-01-06 12Z      True
     25-01-05 12Z      True
     25-01-04 12Z      True
     25-01-03 12Z      True
     25-01-02 12Z      True
ssv  25-01-11 12Z     False
     25-01-10 12Z      True
     25-01-09 12Z      True
     25-01-08 12Z      True
     25-01-07 12Z      True
     25-01-06 12Z      True
     25-01-05 12Z      True
     25-01-04 12Z      True
     25-01-03 12Z      True
     25-01-02 12Z      True